
.title {
	text-align: left;
	font-size: 4em;
	margin-bottom: 1em;
}

.title {
	font-family: 'Georgia',serif;
	font-weight: normal;
}

pre {
	font-family: 'Monaco', 'Menlo', 'Consolas', monospace;
	color: #000067;
	font-size: .85em;
}

#table-of-contents {
	display: inline-block;
	padding: 10px 30px;
	background: #cbcdff;
}
#table-of-contents h2 {
	font-weight:normal;
}

#text-table-of-contents ul {
	list-style-type: none;
	padding:0;
	margin:0;
}
#text-table-of-contents ul a {text-decoration: none; color:blue;}
#text-table-of-contents ul a:hover {
	color: #000;
	text-decoration: underline;
}