
body {color: #000;}

a {color: #8b0000; text-decoration:none;}
a:hover {text-decoration:underline;}

.title {
	text-align: left;
	font-size: 4em;
	margin-bottom: 1em;
}

.title {
	font-family: 'Georgia',serif;
	font-weight: normal;
}
/*
pre {
  border: 1px solid #ccc;
  box-shadow: 3px 3px 3px #eee;
  padding: 8pt;
  font-family: monospace;
  overflow: auto;
  margin: 1.2em;
}
pre.src {
  position: relative;
  overflow: visible;
  padding-top: 1.2em;
}
*/
pre {
	border: 0;
	box-shadow: none;
	font-family: 'Monaco', 'Menlo', 'Consolas','Lucida Console', monospace;
	color: #00468b;
	font-size: .85em;
}
code {
	font-size: .9em; color: #000;
	font-family: 'Lucida Console', monospace;
	font-weight: bold;
}

#table-of-contents {
	display: inline-block;
	padding: 10px 30px;
	background: #dfe0ff;
}
#table-of-contents h2 {
	font-weight:normal;
}

#text-table-of-contents ul {
	list-style-type: none;
	padding-left: 6px;
	line-height: 1.3em;
/*
	padding:0;
	margin:0;
*/
}

#text-table-of-contents ul a {text-decoration: none; color:#222;}
#text-table-of-contents ul a:hover {text-decoration: underline;}